<% if local_assigns.has_key? :url %>
  <%= form_for :interventi, url: url, method: method do |f| %>

    <div class="row">
      <div class="col-md-12">
        <h4>Cliente: <%= @clienti.nome %> - [<%= @clienti.id %>]</h4>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= f.label :cliente_id %>
        <div class="form-group input-group">
          <%= f.text_field :cliente_id, :value => @clienti.id, readonly: true, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-6">
        <%= f.label "Cliente" %>
        <div class="form-group input-group">
          <%= f.text_field :cliente_nome, :value => @clienti.nome, readonly: true, class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-4">
        <%= f.label :data, 'Data (YYY - MM - DD)' %>
        <div class="input-group">
          <%= f.text_field :data, :class => "date-picker form-control", :value => Time.now.strftime("%Y/%m/%d"), readonly: true %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <%= f.label "Descrizione Intervento" %>
          <%= f.text_area :intervento, maxlength: 200, class: 'form-control limited' %>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group"> 
        <%= f.label "Durata (H)" %>
          <%= f.text_field :durata, maxlength: 2, class: 'form-control' %>
        </div>
      </div>
    </div>


     <!-- -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :note %>
          <%= f.text_area :note, maxlength: 200, class: 'form-control limited' %>
        </div>
      </div>
    </div
     <!-- --> 





<div class="divider"></div>
  
    <!-- Switch per apertura - chiudsura intervento -->

    <div class="row">
      <div class="col-md-4">
        <div class="panel-body buttons-widget">
          <h4>Stato Intervento</h4>
          <div class="make-switch has-switch" data-on="primary" data-off="info" data-on-label="chiuso" data-off-label="aperto">
            <%= f.check_box :chiuso %>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>
    
    <div class="row">
      <div class="col-md-3">
       <div class="form-group">
        <%= link_to 'Indietro', clienti_path(:id => @clienti.id), class: 'btn btn-danger' %>
        <%= f.submit 'Salva', :class => 'btn btn-success' %>
       </div>
    </div>




  </div>

<% end %>







<% end %>


