    <div class="row">
      <div class="col-md-12">
        <h4>Cliente: <%= @clienti.nome %> - [<%= @clienti.id %>]</h4>
      </div>
    </div>


    <% if local_assigns.has_key? :url %>
      <%= form_for :interventi, url: url, method: method do |f| %>

    



    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :data, 'Data creazione' %>
          <%= f.text_field :data, :class => "date-picker form-control input-mini", :value => Time.now.strftime("%Y/%m/%d"), readonly: true %>
          <span class="help-block">formato YYY-MM-DD</span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label "Problema dichiarato o riscontrato" %>
          <%= f.text_area :intervento, maxlength: 200, class: 'form-control limited' %>
        </div>
      </div>
    </div>


     <!-- -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :note %>
          <%= f.text_area :note, maxlength: 200, class: 'form-control limited' %>
        </div>
      </div>
    </div
     <!-- --> 

<%#= f.hidden_field :cliente_nome, :value => @clienti.nome, readonly: true, class: 'form-control' %>
<%= f.hidden_field :cliente_id, :value => @clienti.id %>


<div class="divider"></div>
  
    <!-- Switch per apertura - chiudsura intervento -->

    <div class="row">
      <div class="col-md-4">
        
        
                <label class="checkbox-inline">
          
         <%= f.check_box :chiuso, class: 'flat-green' %>
          Intervento Chiuso ?
        </label>

      </div>
    </div>

    <div class="divider"></div>
    
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= link_to 'Indietro', clienti_path(:id => @clienti.id), class: 'btn btn-danger' %>
          <%= f.submit 'Salva', :class => 'btn btn-success' %>
        </div>
    </div>




  </div>

<% end %>







<% end %>


