

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="clip-cube-2"></i>
				Elenco Interventi
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
			<!-- <div class="dataTable_wrapper"> -->
				<table class="table table-hover" id="dataTables-interventi">
					<thead>
						<tr>
							<th>Data</th>
							<th>Intervento</th>
							<th>vedi</th>
							<th>stato</th>
							<th>Tecnico Assegnato</th>
							<th>MSG</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<% @interventi.each do |intervento| %>
						<% @sms = Comunicazioni.where(interventi_id: intervento.id ).count(:id) if Comunicazioni.where(interventi_id: intervento.id ) %>
						<tr>
							<td><%= intervento.data.strftime("%d/%m/%Y") %></td>
							<td><%= intervento.intervento %></td>
							<td><%= link_to '<i class="material-icons">pageview</i>'.html_safe, clienti_interventi_path(:id => intervento.id) %></td>
							<td><% if intervento.chiuso == false %>
								<%= image_tag("warning_32.png", size: '25x25') %>
								<% end %>
							</td>
							<td><%= Utenti.find(intervento.operator_id ).nome if intervento.operator_id?		%></td>
							<td>
								<%#= link_to 'spedisci', clienti_interventi_sms_path(:interventi_id => intervento.id) %>
								<%= link_to '<i class="material-icons" title="Invia Comunicazione">textsms</i>'.html_safe, new_clienti_interventi_comunicazioni_path(:interventi_id => intervento.id) %>
							</td>
							<td>
								<div class="chip">
									<%= image_tag("sms_128.png", size: '25x25') %>
									<%= @sms if @sms > 0 %>
							  	</div>
							</td>	
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-lg-12">
		<%= link_to 'Indietro', clienti_path(@clienti.id), class: 'btn btn-danger' %>
		<%= link_to 'Nuovo Intervento', new_clienti_interventi_path(@clienti), class: 'btn btn-success' %>
	</div>
</div>

<div class="divider"></div>

<%= debug(params) %>

<script>
	$(document).ready(function() {
		$( '#dataTables-interventi' ).dataTable({
				responsive: true,
				//sort: "Proprietario"
				//"order": [[ 0, "desc" ]],
				 "oLanguage": {
								"sLengthMenu": "Visualizza _MENU_ records per pagina",
								"sZeroRecords": "Nessun risultato - spiacente",
								"sInfo": "Stai visualizzando i record da _START_ a _END_ (_TOTAL_ in totale)",
								"sInfoEmpty": "Nessun record disponibile",
								"sInfoFiltered": "(filtrati fra _MAX_ record totali)",
								"oPaginate": {
											  "sNext": "Successiva",
											  "sPrevious": "Precedente"
											}
							}
		});
	});
</script>