<div class="row space12">
	<ul class="mini-stats col-sm-12">
		<li class="col-sm-4 col-xs-4">
			<div class="values">
				<i class="clip-user-4 circle-icon circle-green"></i>
				<strong>Cliente</strong>
				<%= @clienti.nome %>
			</div>
		</li>

		<li class="col-sm-4 col-xs-4">
			<div class="values">
				<i class="clip-settings circle-icon circle-bricky"></i>
				<strong>Codice Cliente</strong>
				<%= @interventi.cliente_id %>
			</div>
		</li>

		<li class="col-sm-4 col-xs-4">
			<div class="values">
				<i class="clip-target circle-icon circle-teal"></i>
				<strong>Codice Intervento</strong>
				<%= @interventi.codice %>
			</div>
		</li>
	</ul>
</div>

<div class="divider"></div>


<!-- 		-->
<div class="row">
	<div class="col-lg-6">
		<div class="well well-sm">
			<div class="row center">
				<div class="col-lg-10">
					<h3>Descrizione Intevento</h3>
				</div>
				<div class="col-lg-2">
					<div class="dropdown pull-right">
					  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Azioni <span class="caret"></span></button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><%= link_to 'Modifica', edit_clienti_interventi_path(:id => @interventi.id) %></li>
					    <li><%= link_to 'Elimina', clienti_interventi_path(:id => @interventi.id), method: :delete, data: { confirm: 'Sicuro di voler eliminare?' } %></li>
					    <li><%= link_to 'Invia Comunicazione', new_clienti_interventi_comunicazioni_path(:interventi_id => @interventi.id) %></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<dl class="dl-horizontal">	
						<dt><strong>Data Intervento: </strong></dt>
						<dd><%= @interventi.data.strftime("%d/%m/%Y") %></dd>
						
						<dt><strong>Durata: </strong></dt>
						<dd>
							<%#= @interventi.durata %>
							<%= @interventi.works.sum(:durata) %>
							 ore</dd>

						<dt><strong>Descrizione: </strong></dt>
						<dd><%= @interventi.intervento %></dd>

						<dt><strong>Annotazioni: </strong></dt>
						<dd><%= @interventi.note %></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-xs-12">
		<div class="well well-sm">
			<div class="row">
				<div class="col-lg-3 col-xs-6">
					<%= image_tag("operator-256.png", size: '128x128') %>
				</div>
				<div class="col-lg-9 col-xs-6">
						<div class="row center">
							<div class="col-xs-12">
								<h3>Tecnico</h3>
							</div>
						</div>
						<div class="row">
							<div>
								<div class="col-lg-6 col-xs-12">
								<% if !@tecnico %>
									<%= link_to 'Assegna', '#responsive', "data-toggle" => "modal", class: 'btn btn-bricky btn-lg' %>
								<% else %>
								<h3><%= @tecnico.nome %>  </h3><%= link_to '<i class="fa fa-external-link"></i>'.html_safe, '#responsive', "data-toggle" => "modal"	%>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row"><!-- riga works -->
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="clip-cube-2"></i>
				Lavori eseguiti per l'intervento
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
			<!-- <div class="dataTable_wrapper"> -->
				<table class="table table-hover" id="dataTables-works">
					<thead>
						<tr>
							<th>Data</th>
							<th>Operatore</th>
							<th>Durata</th>
							<th>Descrizione</th>
							<th>Note</th>
							<th>fa-edit</th>
						</tr>
					</thead>

					<tbody>
						<% @interventi.works.order("data asc").each do |w| %>
						<tr>
							<td><%= w.data.strftime("%d/%m/%Y") %></td>
							<td><%= w.operator_id %></td>
							<td><%= w.durata %> ore</td>
							<td><%= w.descrizione %></td>
							<td><%= w.note %></td>
							<td>
								<%#= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_clienti_interventi_work_path(:interventi_id => @interventi, :id => w.id), class: 'btn btn-primary' %>
								<%= link_to '<i class="fa fa-edit"></i>'.html_safe, clienti_interventi_work_path(:interventi_id => @interventi, :id => w.id), class: 'btn btn-primary' %>
							</td>	
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div><!-- fine riga works -->

<div class="divider"></div>
<br>

<div class="row">
	<div class="col-lg-12">
		<%= link_to 'Indietro', clienti_interventi_index_path(@clienti.id), class: 'btn btn-danger' %>
		<%= link_to "NuovoWork", new_clienti_interventi_work_path(:interventi_id => @interventi.id), class: 'btn btn-green' %>
	</div>
</div>


<br>
<%= debug(params) %>






