<% @titolo = "Modifica Utente" %>

<%= devise_error_messages! %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<div class="row">
  <div class="col-lg-3">
    <div class="form-group input-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control', :disabled => current_utenti.admin ? false : true %>
      <%= " - Modifica non consentita" unless current_utenti.admin %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="col-lg-3">
    <div class="form-group input-group">
      <%= f.label :nome %>
      <%= f.text_field :nome, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-3">
    <div class="form-group input-group">
      <%= f.label :password %> <i>(Per non modificarla non compilare i campi)</i>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group input-group">
      <%= f.label 'conferma password' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="form-group input-group">
      <%= f.label 'Password attuale per confermare la modific' %> <i>(necessaria per confermare la modifica)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-lg-3">
    <%= link_to "Indietro", :back, class: 'btn btn-danger' %>
    <%= f.submit "Aggiorna", :class => 'btn btn-success' %>
  </div>
</div>


<% end %>
<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
-->

