<%#= form_for(@work) do |f| %>
<%= form_for :work, url: url, method: method do |f| %> 



  
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :data %>
        <%= f.text_field :data, :class => "date-picker form-control input-mini", :value => Time.now.strftime("%Y/%m/%d"), readonly: true %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :durata %>
        <%= f.number_field :durata, maxlength: 2, class: 'form-control limited' %>
      </div>
    </div>

  </div>

  <div class="row">
    <div class='col-md-8'>
      <%= f.label :descrizione %>
      <%= f.text_area :descrizione, maxlength: 200, class: 'form-control limited' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.submit 'Salva', :class => 'btn btn-success' %>
        <%= link_to 'Indietro', clienti_interventi_path(:id => @interventi), class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  

<% end %>


<%= debug(params) %>
