		<!-- start: MAIN CONTAINER -->
		<div class="main-container">

			<% if !flash[:notice].blank? %>
				<section>
			   <div class = "alert alert-info">
			      <%= flash[:notice] %>
			 </div>
			 </section>
			<% end %>

			<% if !flash[:error].blank? %>
				<section>
			   <div class = "alert alert-info">
			      <%= alert %>
			 </div>
			 </section>
			<% end %>



			<% flash.each do |key, value| %>
				<hr>
						<section>
							<div class="container">
				        <div class="alert alert-<%= key %>">
				        	<button data-dismiss="alert" class="close">
										&times;
									</button>
									<i class="fa fa-exclamation-triangle"></i>
				        	<strong>Attenzione!</strong> <%= value %>
				        </div>
				      </div>
			      </section>
				<hr>
			<% end %>			
						
			
			<section>
				<!-- start: CORE BOXES CONTAINER -->
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-phone-2 circle-icon circle-green"></i>
									<h2>Richiesta Intervento</h2>
								</div>
								<div class="content">
									Attivando un contratto di assistenza potrai inserire direttamente le tue richieste di intervento.
								</div>
								<a class="view-more" href="#">
									View More <i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-stack circle-icon circle-teal"></i>
									<h2>Elenco interventi</h2>
								</div>
								<div class="content">
									Dopo il login potrai visualizzare lo storico dei tuoi interventi, in modo da individuare più facilmente le criticità della tua azienda.
								</div>
								<a class="view-more" href="#">
									View More <i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-cogs circle-icon circle-bricky"></i>
									<h2>Just<i class="clip-seven-segment-1"></i> One</h2>
								</div>
								<div class="content">
									JustOne è il servizio offerto per la clientela sprovvista di contratto di assistenza. Alla creazione dell'intervento riceverete via SMS le credenziali per seguire lo stato di lavorazione del singolo caso di intervento.
								</div>
								<a class="view-more" href="#">
									View More <i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- end: CORE BOXES CONTAINER -->
			</section>
			
			<!-- <section class="wrapper  padding50 animate-group"> -->
			<section class="wrapper wrapper-grey padding50">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="center">
								Aumenta le tue performance scegliendo i nostri servizi
							</h1>
							<p class="center">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
							</p>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
									<i class="fa fa-group"></i>
								</div>
								<div class="feature-info">
									<h4>Customer Support</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
									<i class="fa fa-check"></i>
								</div>
								<div class="feature-info">
									<h4>Problem solving</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
									<i class="fa clip-headphones"></i>
								</div>
								<div class="feature-info">
									<h4>Remote help</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
									</p>
								</div>
							</div>
						</div>

					</div>



				</div>
			</section>

			<section class="wrapper wrapper-grey padding50">
				
			</section>
			
		
			
			
		</div>
		<!-- end: MAIN CONTAINER -->
		



					<!--		Inizio Modal -->
			<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">Just<i class="clip-seven-segment-1"></i> One - Controlla il tuo intervento</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<%= form_for :justone, url: welcome_justone_path  do |f| %>

								<%= f.label "Codice Cliente" %>
								<%= f.number_field :cod_cli, class: 'form-control' %>

								<%= f.label "Codice Intervento" %>
								<%= f.text_field :cod_int, class: 'form-control' %>

						</div>
					</div>	
				</div>
				<div class="modal-footer">
								<%= f.submit 'Cerca', :class => 'btn btn-success' %>
							<% end %>
				</div>
			</div>
			<!-- 	Fine Modal -->
