<!-- start: MAIN CONTAINER -->
<div class="main-container">


	<section class="wrapper wrapper-grey padding50">
		<div class="container">

			<!-- INIZIO intestazione -->
			<div class="row center">
				<div class="col-md-12">
					<h1>Stato della lavorazione</h1>
				</div>
			</div>
			<!-- FINE intestazione -->

			<!-- INIZIO dati -->
			<div class="row">

					<!-- INIZIO primo pannello -->
					<div class="col-lg-6 col-md-12">
						<div class="well well-sm">

							<div class='row'>
								<div class="col-md-3">
									<%= image_tag("info-icon_258x258.png", size: '128x128') %>
								</div>
								<div class="col-md-9">
									<div class="row center">
										<div class="col-md-12"><h3>Informazioni</h3></div>
									</div>

									<div classs="row">
										<div class="col-lg-5 col-xs-6">
											Cliente
										</div>
										<div class="col-lg-7 col-xs-6">
											<%= @cliente.nome %>
										</div>
									</div>

									<div classs="row">
										<div class="col-md-5">
											Data Inserimento
										</div>
										<div class="col-md-7">
											<%= @intervento.data.strftime("%d/%m/%Y") %>
										</div>
									</div>

									<div classs="row">
										<div class="col-md-5">
											JustOne
										</div>
										<div class="col-md-7">
											<%= @cod_cliente %> - <%= @cod_intervento %>
										</div>
									</div>									

								</div>
							</div>

						</div>
					</div>
					<!-- FINE primo pannello -->


					<!-- INIZIO secondo pannello -->
					<div class="col-lg-6 col-md-12">
						<div class="well well-sm">

							<div class="row">
								<div class="col-lg-3 col-xs-6">
									<%= image_tag("operator-256.png", size: '128x128') %>
								</div>
								<div class="col-lg-9 col-xs-6">
										<div class="row center">
											<div class="col-xs-12">
												<h3>Tecnico Assegnato</h3>
											</div>
										</div>
										<div class="row">
											<div>
												<div class="col-lg-6 col-xs-12">
												<% if !@tecnico %>
													Tecnico non assegnato
												<% else %>
												<h3><%= @tecnico.nome %>  </h3>
												<% end %>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- FINE secondo pannello -->

			</div>
			<!-- FINE dati -->

			<!-- INIZIO barra di progressione -->
			<div class='row'>
				<div class='col-md-12'>
					<div class="swMain">
						<ul>
							<li>
								<a href="#step-1" class="done" isdone="1" rel="1">
									<div class="stepNumber">
										1
									</div>
									<span class="stepDesc"> Step 1
										<br />
										<small>Inserito nel sistema</small> </span>
								</a>
							</li>
							<li>
								<a href="#step-2" class="selected" isdone="1" rel="2">
									<div class="stepNumber">
										2
									</div>
									<span class="stepDesc"> Step 2
										<br />
										<small>Assegnazione al tecnico</small> </span>
								</a>
							</li>
							<li>
								<a href="#step-3" class="disabled" isdone="0" rel="3">
									<div class="stepNumber">
										3
									</div>
									<span class="stepDesc"> Step 3
										<br />
										<small>In corso di lavorazione</small> </span>
								</a>
							</li>
							<li>
								<a href="#step-4" class="disabled" isdone="0" rel="4">
									<div class="stepNumber">
										4
									</div>
									<span class="stepDesc"> Step 4
										<br />
										<small>Intervento chiuso</small> </span>
								</a>
							</li>
						</ul>
						<div class="progress progress-striped active progress-sm">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
								<span class="sr-only"> 40% Complete (success)</span>
							</div>
						</div>
					</div> 
				</div>
			</div>
			<!-- FINE barra di progressione -->



			<!-- dati sporchi -->
			<div class="row">
				<div class="col-md-12">

					<p>Stati di avanzamento:</p>
					<p>Inserito nel sistema</p>
					<p>Tecnico Assegnato</p>
					<p>In Lavorazione</p>
					<p>Chiuso</p>

					<br>
					<p>@stato_data_inserimento = <%= @stato_data_inserimento %></p>
					<p>@stato_tecnico_presente = <%= @stato_tecnico_presente %></p>
					<p>se presente, il tecnico è: <%= @stato_tecnico.nome if @stato_tecnico %></p>
					<p>Numero works presenti= <%= @stato_numero_works %></p>
					<p>Intervento chiuso = <%= @intervento.chiuso %></p>

					<br>
					<hr>

					@cod_cliente = <%= @cod_cliente %> <br>
					@cod_intervento = <%= @cod_intervento %> <br>

					intervento id = <%= @intervento.id if @intervento %>
					
				</div>
			</div>

			





		</div>		
	</section>
			
				
		
			
			
</div>
<!-- end: MAIN CONTAINER -->