<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/idex.html.erb</p>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<br>


<p>Ci sono <%= @conta_aperti %> interventi aperti. Clicca <%= link_to 'quì', welcome_aperti_path %> per visualizzarli</p>
<hr>
<p>Hai un credito residuo per gli sms di €<%= @credito_skebby.round(2) %></p>
<hr>
<p><%= link_to "Pagina guest", welcome_prelogin_path %></p>
<hr>

<% if utenti_signed_in? %>
	<p>Sei loggato come:<%= current_utenti.email  %> </p>
<% end %>

<% flash.each do |key, value| %>
		<hr>
        <div class="alert alert-<%= key %>">
        	<%= key %> : <%= value %>
        </div>
		<hr>
	<% end %>

<hr>


<p>Sono Guest = <% if !utenti_signed_in? %> <%= 'si' %> <% else  %> <%= 'no' %> 	<% end	%> | <%= @sono_guest %> </p>

<p>Sono loggato =  <% if utenti_signed_in? %> <%= 'si' %> <% else  %> <%= 'no' %> 	<% end	%> | <%= @sono_loggato %></p>

<p>Amministratore = <% if utenti_signed_in? && current_utenti.admin? %> <%= 'si' %> <% else  %> <%= 'no' %> 	<% end	%> | <%= @sono_admin %></p>

<p>Sono Operatore = <% if utenti_signed_in? && (current_utenti.admin? || current_utenti.operatore? ) %> <%= 'si' %> <% else  %> <%= 'no' %> 	<% end	%> | <%= @sono_operatore %> </p>


<p>Sono urer = <%= @sono_user %></p>



<!-- 	-->

<h4>Da fare</h4>

<p>Permessi per operatore<br>
da operatore: elenco interventi assegnati con evidenza per nuovi e aperti<br></p>


<!-- 	-->
<hr>




<%= debug(params) %>

<script>
	function cookie_barra_aperta() {
		document.cookie = 'navigation=aperta'; 
	}

	function cookie_barra_chiusa() {
		document.cookie = 'navigation=chiusa'; 
	}

</script>

