<%#= render'gestione_errori' %>


<div class="row">
	<div class="col-md-12">
		Ore di intervento residue: <%= @ore_rimanenti %>
	</div>
</div>



<%= form_for :interventi, :url => welcome_richiesta_path(:clienti_id => @clienti), :method => 'nessuno' do |f| %>

<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :data, 'Data creazione' %>
      <%= f.text_field :data, :class => "form-control input-mini", :value => Time.now.strftime("%Y/%m/%d"), readonly: true %>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label "Problema dichiarato o riscontrato" %>
      <%= f.text_area :intervento, maxlength: 200, class: 'form-control limited' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :note %>
      <%= f.text_area :note, maxlength: 200, class: 'form-control limited' %>
    </div>
  </div>
</div>

<%= f.hidden_field :cliente_id, :value => @clienti %>
<%= f.hidden_field :chiuso, :value => '0' %>

<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= link_to 'Indietro', root_path, class: 'btn btn-danger' %>
      <%= f.submit 'Salva', :class => 'btn btn-success' %>
    </div>
	</div>
</div>


<% end %>







<%= debug(params) %>