<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
 </div>
<% end %>



<div class="row">
	<div class="col-md-3">
		<%= link_to 'Nuovo Cliente', new_clienti_path, class: "btn btn-primary" %>
	</div>	
</div>


<br>


<div class="divider"></div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="clip-users-2"></i>
				Clienti Censiti
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
					<table class="table  table-hover" id="dataTables-clienti">
						<thead>
						  <tr>
								<th><i class="material-icons">perm_identity</i>Nome</th>
								<th><i class="material-icons">drafts</i>Email</th>
								<th class="hidden-xs"><i class="material-icons">phone</i>Telefono</th>
								<th>Login</th>
								<th>Visualizza</th>
						  </tr>
					  </thead>
					 
					 	<tbody>
						  <% @clienti.each do |cliente| %>
								<tr>
									<td><%= cliente.nome %></td>
									<td><%= cliente.email %></td>
									<td class="hidden-xs"><%= cliente.telefono %></td>
									<td><%= cliente.utenti ? "<span class='label label-success'><i class='fa clip-user-3'></i> #{cliente.utenti.email}</span>".html_safe : (link_to '<i class="fa fa-chain-broken"></i> Associa Login'.html_safe, new_utenti_path( :varcliente => cliente.id), class: 'btn btn-xs btn-bricky') %></td>

									<td align="center"><%= link_to '<i class="fa fa-folder-open-o"></i>'.html_safe, clienti_path(cliente), class: 'btn btn-xs btn-teal tooltips', "data-placement" => 'top', "data-original-title" => 'Dettagli Cliente' %></td>
									
								</tr>
						  <% end %>
					  </tbody>
					</table>
				<!-- </div> --><!-- /.dataTable_wrapper -->
			</div><!-- /.panel-body -->
		</div><!-- /.panel panel-default -->
	</div><!-- /.col -->
</div><!-- /.row -->

<%= debug(params) %>



<script>
	$(document).ready(function() {
		$( '#dataTables-clienti' ).dataTable({
				responsive: true,
				//sort: "Proprietario"
				//"order": [[ 0, "desc" ]],
				 "oLanguage": {
								"sLengthMenu": "Visualizza _MENU_ records per pagina",
								"sZeroRecords": "Nessun risultato - spiacente",
								"sInfo": "Stai visualizzando i record da _START_ a _END_ (_TOTAL_ in totale)",
								"sInfoEmpty": "Nessun record disponibile",
								"sInfoFiltered": "(filtrati fra _MAX_ record totali)",
								"oPaginate": {
											  "sNext": "Successiva",
											  "sPrevious": "Precedente"
											}
							}
		});
	});
</script>
