<div class="row">
	<div class="col-lg-12">
		<div class="well well-lg">

				<h4>Cliente: <%= @clienti.nome %></h4>
			 	
			 	<ul class="list-unstyled">
					<li><span>P.iva: </span><%= @clienti.piva%></li>
					<li><span>C.F.: </span><%= @clienti.codfisc%></li>
					<li><span>E-Mail: </span><%= @clienti.email%></li>
					<li><span>Telefono: </span><%= @clienti.telefono%></li>
				</ul>

		</div>
	</div>
</div>

<div class="divider"></div>
<!--
<%# per linkare alla pagina successiva, modificando un parametro di post, traducendo quindi il pramaetro "clienti.id" fornito in quest pagina in "clienti_id" come richiesto dalla pagina successiva %>
<%#= link_to 'Aggiungi Intervento', new_clienti_interventi_path(:clienti_id => @clienti.id) %>
-->
<div class="row">
	<div class="col-lg-12">
		<%= link_to 'Indietro', clienti_index_path, class: 'btn btn-danger' %>
		<%= link_to 'Elenco Interventi', clienti_interventi_index_path(:clienti_id => @clienti.id), class: 'btn btn-primary' %>
		<%= link_to 'Nuovo Intervento', new_clienti_interventi_path(:clienti_id => @clienti.id), class: 'btn btn-success' %>
	</div>
</div>
<div class="divider"></div>

<%= debug(params) %>