<div class="row">
	<div class="col-lg-6">
		<div class="well well-lg">
			<div class="row">
				<div class="col-md-12">
					<!-- -->
					<div class="dropdown pull-right">
					  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Azioni
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><%= link_to 'Modifica', edit_clienti_path(@clienti) %></li>
					    <li><%= link_to 'Elimina', clienti_path(@clienti.id), method: :delete, data: { confirm: 'Sicuro di voler eliminare il cliente? Non è reversibile' } %></li>
					    <!--<li><%= link_to 'Invia Comunicazione', root_path %></li> -->
					    <li class="divider"></li>
					    <li>
					    	<% if @clienti.utenti %>
					    		<%= link_to 'Abilita Accesso', '#' if !@clienti.utenti.approved %>
					    		<%= link_to 'Blocca Accesso', '#' if @clienti.utenti.approved %>
					    	<% end %>
					    </li>
					  </ul>
					</div>
				 	<!-- 	-->
				 	<h4 class="center">Cliente: <%= @clienti.nome %></h4>

				 	<dl class="dl-horizontal">
						<dt><strong>P.iva: </strong></dt><dd><%= @clienti.piva%></dd>
						<dt><strong>C.F.: </strong></dt><dd><%= @clienti.codfisc%></dd>
						<dt><strong>E-Mail: </strong></dt><dd><%= @clienti.email%></dd>
						<dt><strong>Telefono: </strong></dt><dd><%= @clienti.telefono%></dd>
						<dt><strong>Login: </strong></dt><dd><%= @clienti.utenti ? @clienti.utenti.email : "---ATTENZIONE--- Nessuna login associata !!".html_safe %>
						</dd>
					</dl>
					
					<% if @clienti.utenti && !@clienti.utenti.approved %>
						<div align="center"><span class="label label-danger"> Utenza registrata dal Front-End in attesa di approvazione o comunque disabilitata</span></div>
					<% end %>

				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="well well-lg">
			<div class="row">
				<div class="col-md-6">

					<button onclick="location.href='<%= clienti_interventi_index_path(:clienti_id => @clienti.id) %>';" class="btn btn-icon btn-block" id="pulsanteInterventi" name="pulsanteInterventi" type="submit">
						<i class="fa fa-comments-o"></i><%= @intervtot %> Interventi <span class="badge badge-danger"> <%= @intervaperti %> </span>
					</button>

				</div>
				<div class="col-md-6">

					<button onclick="location.href='<%= clienti_contrattis_path(:clienti_id => @clienti.id) %>';" class="btn btn-icon btn-block" id="pulsanteContratti" name="pulsanteContratti" type="submit">
						<i class="fa fa-comments-o"></i>Contratti <span class="badge badge-success"> 33 </span>
					</button>

				</div>
			</div>
			<div class="row"></div>

		</div>
	</div>
</div>

<div class="divider"></div>
<!--
<%# per linkare alla pagina successiva, modificando un parametro di post, traducendo quindi il pramaetro "clienti.id" fornito in quest pagina in "clienti_id" come richiesto dalla pagina successiva %>
<%#= link_to 'Aggiungi Intervento', new_clienti_interventi_path(:clienti_id => @clienti.id) %>
-->
<div class="row">
	<div class="col-lg-12">
		<%= link_to 'Indietro', clienti_index_path, class: 'btn btn-danger' %>
		<%#= link_to 'Gestione Contratti', clienti_contrattis_path(:clienti_id => @clienti.id), class: 'btn btn-purple' %>
		<%#= link_to 'Elenco Interventi', clienti_interventi_index_path(:clienti_id => @clienti.id), class: 'btn btn-primary' %>
		<%= link_to 'Nuovo Intervento', new_clienti_interventi_path(:clienti_id => @clienti.id), class: 'btn btn-success' %>
		<%= link_to '<i class="fa clip-user-3"></i> Associa Login'.html_safe, new_utenti_path( :varcliente => @clienti.id), class: 'btn btn-bricky' if !@clienti.utenti %>
	</div>
</div>
<div class="divider"></div>

<%= debug(params) %>

<script>
			jQuery(document).ready(function() {
				Main.init();
				//TableData.init();
				//UIElements.init();
				//FormElements.init();
				UIButtons.init();
			});
	</script>