<!DOCTYPE html>
<html>
<head>
  <title>Laboratorio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>



<%= render "layouts/header" %>


<div id="wrapper">	
	<div id="page-wrapper">
		<div class="container-fluid">

			<%= yield %>

		</div>		<!-- /.container-fluid -->
	</div><!-- /#page-wrapper -->

	<div id="push"></div>
	
	
</div><!-- /#wrapper -->
    
	<%= render "layouts/footer" %>


</body>
</html>
