<% if local_assigns.has_key? :url %>
  <%= form_for :contratti, url: url, method: method do |f| %>


    <div class="row">
      
      <%= f.hidden_field :clienti_id, :value => @clienti.id %>

      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :acquisto, "Data di Acquisto" %>
          <%= f.text_field :acquisto, :class => "date-picker form-control input-mini", :value => Time.now.strftime("%Y/%m/%d"), readonly: true %>
          <span class="help-block">formato YYY-MM-DD</span>
        </div>
      </div>
        
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :ore, 'Ore Richieste' %>
          <%= f.number_field :ore, maxlength: 2, class: 'form-control limited' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="form-group">
          <%= f.label :note %>
          <%= f.text_area :note, maxlength: 200, class: 'form-control limited' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= link_to 'Indietro', clienti_contrattis_path(@clienti.id), class: 'btn btn-danger' %>
          <%= f.submit 'Salva', :class => 'btn btn-success' %>
        </div>
      </div>
    </div>

<% end %>




<% end %>