<div class="row">
  <div class="col-ms-12">
    <div class="col s8 offset-s2" align="center">
      <span class="flow-text"><h3>Elenco Contratti: <br><%= @clienti.nome %></h3></span>
      <hr>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table  table-hover" id="dataTables-contratti">
      <thead>
        <tr>
          <th>Clienti</th>
          <th>Acquisto</th>
          <th>Ore</th>
          <th>Note</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contrattis.each do |contratti| %>
          <tr>
            <td><%= contratti.clienti_id %></td>
            <td><%= contratti.acquisto %></td>
            <td><%= contratti.ore %></td>
            <td><%= contratti.note %></td>
            <td><%= link_to 'Show', clienti_contratti_path(:id => contratti.id) %></td>
            <td><%= link_to 'Edit', edit_clienti_contratti_path(:id => contratti.id) %></td>
            <td><%= link_to 'Destroy', clienti_contratti_path(:id => contratti.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="divider"></div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Indietro', clienti_path(@clienti.id), class: 'btn btn-danger' %>
    <%= link_to 'Nuovo Contratto', new_clienti_contratti_path, class: 'btn btn-green' %>
  </div>
</div>

<br>
<div class="divider"></div>

<div class='row'>
  <div class="col-md-12">
    <p>Totale ore acquistate = <%= @acquistate %></p>
    <p>Totale ore usate = <%= @ore_usate %></p>
    <p>Ore rimanenti = <%= @ore_rimanenti %></p>
  </div>
</div>

<br>
<%= debug(params) %>
