<div class="row">
  <div class="col s8 offset-s2" align="center">
    <span class="flow-text"><h3>Elenco Contratti: <br><%= @clienti.nome %></h3></span>
    <hr>
  </div>
</div>


<div class="row">
  <div class="col s12">
    <table class="highlight centered">
      <thead>
        <tr>
          <th>Clienti</th>
          <th>Acquisto</th>
          <th>Ore</th>
          <th>Note</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contrattis.each do |contratti| %>
          <tr>
            <td><%= contratti.clienti_id %></td>
            <td><%= contratti.acquisto %></td>
            <td><%= contratti.ore %></td>
            <td><%= contratti.note %></td>
            <td><%= link_to 'Show', clienti_contratti_path(:id => contratti.id) %></td>
            <td><%= link_to 'Edit', edit_clienti_contratti_path(:id => contratti.id) %></td>
            <td><%= link_to 'Destroy', clienti_contratti_path(:id => contratti.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="divider"></div>

<div class="row">
  <ul class="lista-pulsanti">
    <li><%= link_to '<i class="material-icons left">fast_rewind</i>Indietro'.html_safe, clienti_path(@clienti.id), class: 'waves-effect waves-light btn' %></li>
    <li><%= link_to '<i class="material-icons left">playlist_add</i>Nuovo Contratto'.html_safe, new_clienti_contratti_path, class: 'waves-effect waves-light btn green' %></li>
  </ul>
</div>

Totale ore acquistate = <%= @acquistate %>
<br>
Totale ore usate = <%= @ore_usate %>
<br>
Ore rimanenti = <%= @ore_rimanenti %>

<%= debug(params) %>

<%#= link_to 'New Contratti', new_clienti_contratti_path,  %>
