<div class="row">
  <div class="col-md-6">
    <div class="well well-lg">
      <div class="row">
        <div class="col-md-12 center">
          <h4>Dettaglio Contratti per cliente</h4>
          <h3><%= @clienti.nome %></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well well-lg">
      <div class="row">
        <div class="col-md-12 center">
          <h4>Riepilogo Ore</h4>
          <table class="table">
            <tr>
              <th class="text-primary">Acquistate:</th>
              <td class="text-primary"><%= @acquistate %></td>
              <th class="text-danger">| Utilizzate:</th>
              <td class="text-danger"><%= @ore_usate %></td>
              <th class="text-success">| Residue:</th>
              <td class="text-success"><%= @ore_rimanenti %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table  table-hover" id="dataTables-contratti">
      <thead>
        <tr>
          <th>Data di acquisto</th>
          <th>Ore</th>
          <th>Note</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contrattis.each do |contratti| %>
          <tr>
            <td><%= contratti.acquisto %></td>
            <td><%= contratti.ore %></td>
            <td><%= contratti.note %></td>
            <td><%= link_to 'Show', clienti_contratti_path(:id => contratti.id) %></td>
            <td><%= link_to 'Edit', edit_clienti_contratti_path(:id => contratti.id) %></td>
            <td><%= link_to 'Destroy', clienti_contratti_path(:id => contratti.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="divider"></div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Indietro', clienti_path(@clienti.id), class: 'btn btn-danger' %>
    <%= link_to 'Nuovo Contratto', new_clienti_contratti_path, class: 'btn btn-green' %>
  </div>
</div>

<br>
<%= debug(params) %>
